<!doctype html>
    <head>
        <title>Runkeepter Test</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link type="text/css" rel="stylesheet" href="/static/css/fonts/ico.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/fonts/open-sans-regular.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/fonts/bebas_neueregular.css" />
        <link type="text/css" rel="stylesheet" href="/static/css/app.css" />
        <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
    </head>
    <body>
        <div class="d-table">
            <div class="d-row">
                <div class="d-cell v-middle">
                    <div class="logo-text"><span class="logo-text-left">Runkeeper</span><span class="logo-text-right">Test</span></div>
                    <span class="oops"><img src="images/face-sad.png" align="absmiddle" />&nbsp;<span class="oops-text">OOPS! Something went wrong.</span></span>
                    <div class="oops-desc">
                        Sorry, the page you were looking for does not exist! Go back to <a href="index.html">Runkeeper.com</a> or <a href="mailto:support@dealyaft.com" target="_blank">contact us</a> about the problem.
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-footer">
            <div class="fixed-footer-wrap">
                <a href="#" class="footer-link">Merchants</a>
                <span class="footer-pipe">|<span>
                <a href="help.html" class="footer-link">Help</a>
                <span class="footer-pipe">|<span>
                <a href="error.html" class="footer-link">Error</a>
                <span class="footer-pipe">|<span>
                <a href="#" class="footer-link">Privacy</a>
                <span class="footer-pipe">|<span>
                <a href="#" class="footer-link">About Us</a>
            </div>
        </div>
    </body>
</html>
