{% extends 'base.html' %}

{% block header_meta %}
{{ header_meta }}
{% endblock %}

{% block page_css %}
{% endblock %}

{% block meta %}
{% if meta_key %} {{ meta_key }} {% endif %}
{% endblock %}
{% block title %}
{% if title %} {{ title }} Runkeeper Test {% endif %}
{% endblock %}
{% block header %}
{{ header }}
{% endblock %}

{% block main_body %}        
        <div align="center" style="width:100%;">
        <div align="center" style="width:720px;display:inline-block;">
            <h1>HealthGraph-API Demo</h1>
            <p align="center">
                This is an example healthgraph application
            </p>
            <p>
            <a href="{{ rk_auth_uri }}">
                <img src="{{ rk_button_img }}" alt="RunKeeper Login Button">    
            </a>
            </p>
        </div>
        </div>
{% endblock %}
{% block footer_block %}
{{ footer }}
{% endblock %}
